.container {
    padding: 0;
}

button {
    border: none;
    background-color: inherit;
    padding: 14px 6px;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;


}

.form-group {
    padding: 0 20px 0 20px;
}